* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background: 000000;
  padding: 0px 20px;
}

.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topnav li {
  display: inline-block;
  margin: 0 15px;
}

.topnav a {
  float: right;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 20px 20px;
}

.topnav a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 0.5, 0.5);
  transform-origin: 0 50%;
}

.logo {
  height: 50px; /* Adjust this value based on your logo size */
  margin-right: 10px;
}

.topnav a:hover::before {
  transform: scale3d(0.99, 0.5, 0.5);
}

.topnav a.active::before {
  transform: scale3d(0.99, 0.5, 0.5);
}
.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: -10;
  
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300%;
  object-position: center top;
  object-fit: cover;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background: rgba(0, 0, 0, 0);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: repeat-y;
}

.content .section.pic-1 {
  background-image: url(https://images.unsplash.com/photo-1505506874110-6a7a69069a08?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D);
  background-position: center middle;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content .section.pic-2 {
  background-image: url(https://images.unsplash.com/photo-1505506874110-6a7a69069a08?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  margin-top: 100vh;
  z-index: 500;
  width: 100%;
  height: 110vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
  
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 1) 30%,
    rgb(0, 0, 0)
  );

  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 1) 30%,
    rgb(0, 0, 0)
  );
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 28%;
}

.col2, .col3 {
  background-color: #121212;
  border-radius: calc(0.5 * var(--m))
}

img {
  height: calc(0.3 * var(--m));
  object-fit: cover;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255,255,255,0.1);
  border-radius: calc(0.1 * var(--m));
  
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}


@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }
  .col {
    width: 100%;
  }
}

body {
  
  color: white;

  display: flex;
  flex-direction: column;
  margin: 0;
  color: #d5d5d5;
  font-size: calc(0.3 * var(--m));
}